#inner{
    width: 95%;
margin: 0 auto;
}

/* 배경이미지사이즈 */
.small-img {
    width: 30%;
    height: 70%;
    min-width: 200px;
}
.big-img {
    width: 40%;
    height: 70%;
    min-width: 300px;
}

/* 페럴러즈스타트 */
#parallax {
    width: 100%;
    height: 900px;
}

#floor {
    position: relative;
    width: 100%;
    height: 300px;
}



/* 산 */
.mount1 {
    display: block;
    position: absolute;
    left: 5%;
    bottom: 100px;
}

.mount2 {
    display: block;
    position: absolute;
    left: 30%;
    bottom: 110px;
}
.mount3 {
    display: block;
    position: absolute;
    left: 45%;
    bottom: 100px;
}
.mount4 {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 100px;
}


/* 페러러즈 끝 */